* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 20px;
}

.thumbnail {
  background-color: #222222;
  width: 50%;
}

.thumbnail img {
  width: 50%;
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
  }

  .thumbnail {
    background-color: #222222;
    width: 100%;
  }

  .thumbnail img {
    width: 100%;
  }

  .capt {
    margin: 12px;
    text-align: center;
    font-size: 15px;
  }
}
