* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  background-color: black;
  /* max-width: 40%; */
  margin: 0 auto;
}

@media (min-width: 768px) {
  body {
    max-width: 50%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 20px;
}

.thumbnail {
  background-color: #222222;
  width: 50%;
}

.thumbnail img {
  width: 50%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 20px;
}

.thumbnail {
  background-color: #222222;
  width: 100%;
}

.thumbnail img {
  width: 100%;
}

.capt {
  margin: 12px;
  text-align: center;
  font-size: 15px;
}

.link {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.link a {
  background-color: white;
  margin: 0px 20px;
  padding: 20px;
  border-bottom: 1px solid black;
}
.link a:hover {
  background-color: #222222;
  cursor: pointer;
}

.footer {
  text-align: center;
  margin: 5% 0px;
}

.footer a {
  color: white;
  font-size: 12px;
}
